<% include partials/header %>

  <div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            The School Choice Program </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      School Choice applications are currently open. To learn more about the school choice process
      <a href="choice.ejs" class="alert-link">Click Here!</a>
    </div>
    <div>
      <ul class = "about">
        <li>
           The Delaware School Choice Program began in the 1996-1997 School Year. The law addressing School Choice is found in 14 Del.
          C Chapter 4 (See Delaware Code online). There are no statewide regulations addressing the School Choice Program.
        </li>
        </br>
        <li>
           The Delaware School Choice Program began in the 1996-1997 School Year. The law addressing School Choice is found in 14 Del.
          C Chapter 4 (See Delaware Code online). There are no statewide regulations addressing the School Choice Program.
        </li></br>
        <li>
           Each receiving local education agency shall adopt and make available a policy regarding the order in which applications
          for enrollment shall be considered and the criteria by which such applications shall be evaluated for approval or disapproval
          pursuant to Title 14 § 405 . The receiving district’s policy shall seek to eliminate discrimination against choice students
          by: (1) allowing the receiving district to request supplemental application information from choice students only to the
          extent it requires the same information from attendance zone (resident school) students; (2) limiting the supplemental criteria
          a receiving district may use to evaluate choice applications—after that, receiving local education agencies must use a lottery
          system; and (3) removing the provision that allows a receiving local education agency to reject applications of students
          with special needs.
        </li></br>
        <li>
           Each receiving local education agency shall adopt and make available a policy regarding the order in which applications
          for enrollment shall be considered and the criteria by which such applications shall be evaluated for approval or disapproval
          pursuant to Title 14 § 405 . The receiving district’s policy shall seek to eliminate discrimination against choice students
          by: (1) allowing the receiving district to request supplemental application information from choice students only to the
          extent it requires the same information from attendance zone (resident school) students; (2) limiting the supplemental criteria
          a receiving district may use to evaluate choice applications—after that, receiving local education agencies must use a lottery
          system; and (3) removing the provision that allows a receiving local education agency to reject applications of students
          with special needs.
        </li></br>
        <li>
          All receiving local education agencies are required to use and accept the standard application form provided by the Delaware
         Department of Education (DDOE). The standard application form shall be made available on the DDOE’s website and all receiving
         local education agency websites.
        </li></br>
        <li>
          A parent residing within the State of Delaware may seek to enroll that parent's child in a Delaware public school in any
         school district, charter school, magnet school or vocational-technical school through the standard application form. Any
         student not currently registered in a public school in the State of Delaware must be registered in their School of Residence
         before submitting a standard application form.
        </li></br>
        <li>
          The standard application form may be accepted by the DOE and/or a receiving local education agency on or after the first
         Monday in November and on or before the second Wednesday in January. Charter schools, vocational-technical school districts,
         and magnet schools may continue to accept applications after the second Wednesday in January to fill remaining availability;
         however, those holding a lottery, will include applications received by the second Wednesday in January.
        </li></br>
        <li>
          A parent enrolling their child in kindergarten may submit the standard application form to the receiving local education
         agency up until the first day of the school year for enrollment in kindergarten during that school year. Pursuant to 14 Del.C.
         § 2702(b), a child shall be considered 5 years of age if that child celebrates the child's fifth birthday on or before August
         31 of the respective year.
        </li></br>
        <li>
          Parents interested in applying to a district, charter school or career and technical education school should visit their
         website for information about the school and/or program and submission of a standard application form and any other supplemental
         application if required.
        </li></br>
      </ul>
      
    </div>
  </div>

  <div class="btngroup">

    <a class="btn btn-large btn-default" href="https://www.doe.k12.de.us/domain/81" target="_blank" >Delaware Dept of Ed <br> School Choice Information Page
    </a>
    <a class="btn btn-large btn-default" href="https://www.schoolchoicede.org/ChoiceApplications.aspx" target="_blank" >School Choice DE
      <br>Choice Applications</a>
    <a class="btn btn-large btn-default" href="https://www.schoolchoicede.org/" target = "_blank" >School Choice FAQ
      </a>
  </div>


  <% include partials/footer %>
    <% include partials/scripts %>
      <% include partials/closingtags %>