<% include partials/header %>

	
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
    	<div class="row">
      	<div class="col-lg-12">
			  	<h1>
						Navigate the School Choice Program in Delaware.				</h1> 
    	</div>
  	</div>
	</div>
</div>
<div class="container">
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			School Choice will begin accepting appplications in early November. To learn more about the school choice timeline <a href="choice.ejs" class="alert-link">Click Here!</a>
		</div>
	</div>


  <div class= "btngroup">
  	
  	<a class="btn btn-large btn-default" href="about" role="button">About <br>School Choice</a>
  	<a class="btn btn-large btn-default" href="choice">School Choice<br>Timeline</a>
  </div>


<% include partials/footer %>
<% include partials/scripts %>
<% include partials/closingtags %>

