<% include partials/header %>
	<div class="jumbotron jumbotron-billboard">
	  <div class="img"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
								<h1>
									Find a School
								</h1> 
				        
	            </div>
	        </div>
	    </div>
	</div>
 
  <div class="container address">
  	<div class= "instructions">
	  	<h3>
	  		Where do you live?
	  	</h3>
	  	
	  </div>
  	<div  id="locationField" class="mytextbox">
				<input id="autocomplete"  placeholder="Enter your address" type="text"></input>
		</div>
		<div class = "addressTable">
  		<table id="address">
		    <tr>
		  		<td class="label">Street address</td>
		      <td class="slimField">
		      	<input class="field" id="street_number" disabled="true">
		      	</input>
	      	</td>
		      <td class="wideField" colspan="2"><input class="field" id="route"
		          disabled="true"></input></td>
	      </tr>
		    <tr>
		    	<td class="label">City</td>
		      <td class="wideField" colspan="3"><input class="field" id="locality"
		          disabled="true"></input></td>
	      </tr>
		    <tr>
		    	<td class="label">State</td>
		      <td class="slimField"><input class="field"
		          id="administrative_area_level_1" disabled="true"></input></td>
		      <td class="label">Zip code</td>
		      <td class="wideField"><input class="field" id="postal_code"
		          disabled="true"></input></td>
	      </tr>
		    <tr>
		    	<td class="label">Country</td>
		      <td class="wideField" colspan="3"><input class="field"
		      		id="country" disabled="true"></input></td>
	    	</tr>
			</table>
		</div>
 	</div>

	<div class= "btngroup">
 	
  	<a class="btn btn-default" href="school_5" role="button">Skip >></a>
  	<a class="btn btn-default" href="school_5" role="button">Last >></a>
  	<a class="btn btn-default" href="school_5" role="button">Next >></a>
  </div>
<% include partials/footer %>
<% include partials/scripts %>

<script>

var autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initMap() {
 
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
            {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);

  function fillInAddress() {
  // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    
    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
      }

// Get each component of the address from the place details
// and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      	}
      }
    }

  };

</script>

<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoghMfd2fobTrImQGjCHOqNk8oDr2QOLE&libraries=places&callback=initMap"
		async defer>
</script>	

<% include partials/closingtags %>
