<% include partials/header %>

	<div class="jumbotron jumbotron-billboard">
	  <div class="img"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
								<h1>
									Find a School
								</h1> 
	            </div>
	        </div>
	    </div>
	</div>

	 
 
  <div class="container">
  	<div class = "instructions">
	  	<h3>
	  		We will guide you through a series of questions that will help you select the right school for your child.
	  	</h3>
  	</div>

  	<div class= "btngroup">
			<a class="btn btn-large btn-default" href="school_2">Next >></a>
		</div>
	</div>


<% include partials/footer %>
<% include partials/scripts %>
<% include partials/closingtags %>

