<% include partials/header %>

	<div class="jumbotron jumbotron-billboard">
		<div class="img"></div>
	  	<div class="container">
	    	<div class="row">
	      	<div class="col-lg-12">
						<h1>Find a School</h1> 
					</div>
        </div>
	    </div>
	</div>
 
  <div class="container">
  	<div class= "instructions">
	  	<h3>How far are you willing to travel for school ?</h3>
	  	<div class="dropdown">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    		Travel Miles
    		<span class="caret"></span>
  			</button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="results">1 - 10 </a></li>
			    <li><a href="results">11 - 20</a></li>
			    <li><a href="results">20 - 30</a></li>
			    <li><a href="results">30 - 40</a></li>
			    <li><a href="results">40 or more</a></li>
			  </ul>
			</div>
		</div>
 	</div>

	<div class= "btngroup">
			<a class="btn btn-large btn-default" href="results">Next >></a>
	</div>
<% include partials/footer %>
<% include partials/scripts %>
<% include partials/closingtags %>
