<% include partials/header %>

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
			        <h1>
			          	Navigate Delaware School Choice.
			        </h1> 
            </div>
        </div>
    </div>
</div>

    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3">
		 		<h3>Before it starts</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h3>
			 		Get Your Paperwork Ready
		 		</h3>
		 		<p>
		 			Mauris a nunc occideritis me . 
		 		</p>
	    		
			</div>
		</div>
    </div>
 
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Early November</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h3>
			 		Window to submit school choice application opens
				 </h3>
				 <p>filler filler filller</p>
			</div>
		</div>
    </div>
 
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Early January</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h3>
					Window to submit school choice application closes
		 		</h3>
		 		<p>
		 			Late submissions are allowed if "good cause" is provided. 
		 		</p>
	    		
			</div>
		</div>
    </div>
 
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Late February</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h3>
					Parents are notified about invitation status
		 		</h3>
		 		<p>
		 			Mauris a nunc occideritis me. 
		 		</p>
	    		
			</div>
		</div>
		</div>
		
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Mid March</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h3>
					Deadline to accept or decline school choice invitation
		 		</h3>
		 		<p>
		 			Mauris a nunc occideritis me. 
		 		</p>
	    		
			</div>
		</div>
    </div>
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Application<br>Information</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<p>
					1. Application to multiple schools can be submitted.
					<br>2. Separate applications for each child must be submitted
		 		</p>
		 		
	    		
			</div>
		</div>
		</div>
		
    <div class="container">
    	<div class="row">
		 	<div class="col-lg-3 highlight">
		 		<h3>Invitation Status<br>and Acceptance</h3>
		 	</div>
		 	<div class="col-lg-9">
		 		<h4>
					Acceptance Criteria ( Ordered by Priority)
				</h4>
					<ol>
						<li>Returning students who continue to meet the school requirementss</li>
						<li>Siblings of students already enrolled and who will be returning to the school</li>
						<li>Children of employees</li>
						<li>Students living within the school district</li>
						<li>Students living outside the school district</li>
					</ol>
			</div>
		</div>
    </div>
	 
		

	 	<div class= "btngroup">
	 			<a class="btn btn-large btn-default" href="school">Find a <br>School</a>
		</div>
		
<% include partials/footer %>
<% include partials/scripts %>
<% include partials/closingtags %>