<% include partials/header %>


	<div class="jumbotron jumbotron-billboard">
		<div class="img"></div>
	    <div class="container">
	  		<div class="row">
	      	<div class="col-lg-12">
				  	<h1>Find your Feeder School Pattern
						</h1>
						<div  id="locationField" class="mytextbox">
							<input id="autocomplete"  placeholder="Enter your address" type="text">
	             <!-- onFocus="geolocate()"  -->
	          	</input>
							<table id="address">
						     <tr>
						        <td class="label">Street address</td>
						        <td class="slimField"><input class="field" id="street_number"
						              disabled="true"></input></td>
						        <td class="wideField" colspan="2"><input class="field" id="route"
						              disabled="true"></input></td>
						      </tr>
						     <tr>
						        <td class="label">City</td>
						        <!-- Note: Selection of address components in this example is typical.
						             You may need to adjust it for the locations relevant to your app. See
						             https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
						        -->
						        <td class="wideField" colspan="3"><input class="field" id="locality"
						              disabled="true"></input></td>
						      </tr>
						     <tr>
						        <td class="label">State</td>
						        <td class="slimField"><input class="field"
						              id="administrative_area_level_1" disabled="true"></input></td>
						        <td class="label">Zip code</td>
						        <td class="wideField"><input class="field" id="postal_code"
						              disabled="true"></input></td>
						      </tr>
						     <tr>
						        <td class="label">Country</td>
						        <td class="wideField" colspan="3"><input class="field"
						              id="country" disabled="true"></input></td>
						      </tr>
							</table>
							<input type = 'submit' class = "submitBtn">
						</div>
	       	</div>
				</div>
			</div>
		</div>

	  <div class="container" id ="school">
	  	<div class="leftdiv">
			  <div id="elem">
			  	<h2>Elementary School</h2>
			  	<h4>School Name</h4>
			  	<h4>School AddressName</h4>
			  </div>
			  <div id="middle">
			  	<h2>Middle School</h2>
			  	<h4>School Name</h4>
			  	<h4>School AddressName</h4>
			  </div>
			  <div id="high">
			  	<h2>High School</h2>
			  	<h4>School Name</h4>
			  	<h4>School Address</h4>
			  </div>
		 	</div>
	  	<div class="rightdiv" id="map"></div>
	  </div>


<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoghMfd2fobTrImQGjCHOqNk8oDr2QOLE&libraries=places&callback=initMap"
		async defer>
</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoghMfd2fobTrImQGjCHOqNk8oDr2QOLE&libraries=places&callback=initAutocomplete"
			 async defer></script> -->

  <!-- AIzaSyBoghMfd2fobTrImQGjCHOqNk8oDr2QOLE -->

<script src = "public/map.js"></script>

<% include partials/footer %>