
<% include partials/header %>
	<div class="jumbotron jumbotron-billboard">
		<div class="img"></div>
	  	<div class="container">
	    	<div class="row">
	      	<div class="col-lg-12">
						<h1>Find a School</h1> 
				  </div>
	      </div>
	    </div>
	</div>

  <div class="container">
  	<div class= "instructions">
	  	<h3>What grade will your child be in next year?</h3>
	  	<div class="dropdown">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    		Grade
    		<span class="caret"></span>
  			</button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="school_4">1 -4 </a></li>
			    <li><a href="school_4">5 -6</a></li>
			    <li><a href="school_4">7 - 8</a></li>
			    <li><a href="school_4">9 - 12</a></li>
			  </ul>
			</div>
		</div>
 	</div>

	<div class= "btngroup">
  	<a class="btn btn-default" href="school_4" role="button">Skip >></a>
  	<a class="btn btn-default" href="school_5" role="button">Last >></a>
  	<a class="btn btn-default" href="school_4" role="button">Next >></a>
  </div>
<% include partials/footer %>
<% include partials/scripts %>
<% include partials/closingtags %>
