<div class="footer">
	   <span> -- Education Sherpa - Open Data Delaware - Code & Coffee Open Source Project --</span>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
