<% include partials/header %>

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
			        <h1>
			          	Find your Feeder School Pattern
			        </h1> 
			        <form>
			        	<label for= "houseNum"></label>
			        	<input id="houseNum" name= "house" type = 'text' class= "mytextbox" placeholder="What is your address?" required>
			        	<input type = 'submit' class = "submitBtn">
       			 	</form>
						</div>
					</div>
				</div>
			</div>

  <div class="container" id ="school">
  	<div class="leftdiv">
		  <div id="elem">
		  	<h2>Elementary School</h2>
		  	<h4>School Name</h4>
		  	<h4>School AddressName</h4>  		
		  </div>
		  <div id="middle">
		  	<h2>Middle School</h2>
		  	<h4>School Name</h4>
		  	<h4>School AddressName</h4>  		
		  </div>
		  <div id="high">
		  	<h2>High School</h2>
		  	<h4>School Name</h4>
		  	<h4>School Address</h4>  		
		  </div>
	 	</div>

  	<div class="rightdiv" id="map">
  		map placeholder
  	</div>

  </div>

<% include partials/footer %>