<!DOCTYPE html>
<html>
<head>
	<title>Education Sherpa</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/edSherpa1.css">
 

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="home" class="navbar-brand"><i class="fa fa-bus">  </i>  Delaware School Choice Sherpa</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav navbar-right">
          <li class = "navbar-text" ><a href="home">ABOUT</a></li>
         	<li class = "navbar-text" ><a href="choice">NAVIGATE </br>CHOICE</a></li>
					<li class = "navbar-text" ><a href="feeder">FEDDER </br>PATTERN</a></li>
					<li class = "navbar-text" ><a href="school">FIND A </br>SCHOOL</a></li>
				</ul>
			</div>
		</div>
	</nav>