<% include partials/header %>

	<div class="container">
    <div class="jumbotron">
      <div class="container">
      	<div class="alert alert-success alert-dismissible" role="alert">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				School Choice applications are currently open. To learn more about the school choice process <a href="choice.ejs" class="alert-link">Click Here!</a>
				</div>
				
			</div>
        <h1>
          	We're here to help you navigate the Delaware School Choice Process.
        </h1> 
      </div>
    </div>
 </div>

  <div class= "btngroup">
  	
  	<a class="btn btn-large btn-default" href="choice" role="button">Navigate <br>School Choice</a>
  	<a class="btn btn-large btn-default" href="feeder">Find Your <br>Feeder Pattern</a>
  	<a class="btn btn-large btn-default" href="school">Find a <br>School</a>
  </div>


<% include partials/footer %>
